.layout-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5%;

}



@media (max-width: 992px) {
  .title {
    font-size: 15px;
  }
}


