<div class="layout-container ca-color-gray px-5">
  <div class="col-10 col-lg-8">
    <div class="text-center ca-color-purple title row">
      <div class="col-12 col-lg-6 px-4">
        <button type="button" class="btn-main w-full">
          <a
            href="https://api.whatsapp.com/send?phone=5511970736987&text=Ol%C3%A1,%20vi%20seu%20portfolio%20e%20gostei%20muito%20do%20seu%20trabalho.%20Gostaria%20de%20conversar%20sobre%20poss%C3%ADveis%20oportunidades%20de%20trabalho%20juntos.%20Ser%C3%A1%20poss%C3%ADvel%20nos%20conectarmos%20em%20breve?%20Agrade%C3%A7o%20antecipadamente."
            target="_blank"
            class="btn-link"
            >WhatsApp
          </a>
        </button>
      </div>
      <div class="col-12 col-lg-6 px-4">
        <button type="button" class="btn-main w-full">
          <a
            href="https://www.linkedin.com/in/claiver-araujo-a87685149/"
            target="_blank"
            class="btn-link"
            >Linkedin
          </a>
        </button>
      </div>
      <div class="col-12 col-lg-6 px-4">
        <button type="button" class="btn-main w-full">
          <a
            href="https://github.com/ClaiverAlmeida"
            target="_blank"
            class="btn-link"
            >GitHub
          </a>
        </button>
      </div>
      <div class="col-12 col-lg-6 px-4">
        <button type="button" class="btn-main w-full">
          <a
            href="https://www.instagram.com/claiver_araujo/"
            target="_blank"
            class="btn-link"
            >Instagram
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
